In [1]:
StudyAnalysis

calcmain.models.StudyAnalysis

In [42]:
from django.shortcuts import render, redirect, get_object_or_404
study = get_object_or_404(StudyAnalysis, pk=1)
import pandas as pd

In [3]:
study.study_name

'Test1'

In [8]:
processed_df = study.processed_df
processed_df

,Patient ID,Number of solid tumor,Number of lymph node,sum_base,sum_post,Lesion size at the baseline (mm),Percent change (%)
0,1,2,1,140,255,NaN,82
1,2,1,2,144,154,NaN,6
2,3,1,2,148,92,NaN,-38
3,4,3,2,332,469,NaN,41
4,5,2,1,161,221,NaN,37
5,6,3,2,388,130,NaN,-67
6,7,2,1,233,165,NaN,-30
7,8,0,2,138,89,NaN,-36
8,9,2,0,62,206,NaN,232
9,10,3,1,373,239,NaN,-36
10,11,1,2,188,159,NaN,-16
11,12,1,2,139,102,NaN,-27
12,13,2,2,264,108,NaN,-60
13,14,1,2,218,179,NaN,-18
14,15,3,1,278,306,NaN,10
15,16,1,2,126,120,NaN,-5
16,17,1,2,254,164,NaN,-36
17,18,2,2,233,209,NaN,-11
18,19,1,2,191,204,NaN,6
19,20,2,1,317,258,NaN,-19
20,21,1,2,237,151,NaN,-37
21,22,2,2,103,132,NaN,28
22,23,2,2,375,142,NaN,-63
23,24,2,2,256,142,NaN,-45
24,25,4,1,307,480,NaN,56
25,26,1,2,90,126,NaN,40
26,27,2,2,224,315,NaN,40
27,28,2,2,311,259,NaN,-17
28,29,0,1,45,83,45.0,84
29,30,1,2,199,84,NaN,-58

In [7]:
len(processed_df.index)

30

In [15]:
processed_df.loc[:, "Percent change (%)"][29]

-58

In [103]:
processed_df = study.processed_df
up_patients = study.up_patients
num_all_patients = len(processed_df.index) + up_patients
print(num_all_patients)

50

In [31]:
num_partial_response = num_progression = 0

for id in range(len(processed_df.index)):
    if processed_df.loc[:, "Percent change (%)"][id] < -30:
        num_partial_response += 1
    elif processed_df.loc[:, "Percent change (%)"][id] >= 20:
        num_progression += 1
        
# 10 9

partial_response_prop = round(num_partial_response / num_all_patients * 100, 2)
progression_prop = round((num_progression + up_patients) / num_all_patients * 100, 2)

print(partial_response_prop, progression_prop)

20.0 58.0

In [34]:
sorted(processed_df.loc[:, "Percent change (%)"], reverse=True)

[232,
 84,
 82,
 56,
 41,
 40,
 40,
 37,
 28,
 10,
 6,
 6,
 -5,
 -11,
 -16,
 -17,
 -18,
 -19,
 -27,
 -30,
 -36,
 -36,
 -36,
 -37,
 -38,
 -45,
 -58,
 -60,
 -63,
 -67]

In [37]:
x = [i for i in range(len(processed_df.index))]
x

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [65]:
processed_df["Percent change (%)"].values.flatten()

# column은 알파벳순으로 자동정렬
data={'state':['Ohio','Ohio','Ohio','Nevada','Nevada'],
     'year':[2000,2001,2002,2001,2002],
     'pop':[1.5,1.7,3.6,2.4,2.9]}
df=DataFrame(data)
df

array([ 82,   6, -38,  41,  37, -67, -30, -36, 232, -36, -16, -27, -60,
       -18,  10,  -5, -36, -11,   6, -19, -37,  28, -63, -45,  56,  40,
        40, -17,  84, -58], dtype=int64)

In [69]:
sorted(processed_df.loc[:, "Percent change (%)"], reverse=True)

[232,
 84,
 82,
 56,
 41,
 40,
 40,
 37,
 28,
 10,
 6,
 6,
 -5,
 -11,
 -16,
 -17,
 -18,
 -19,
 -27,
 -30,
 -36,
 -36,
 -36,
 -37,
 -38,
 -45,
 -58,
 -60,
 -63,
 -67]

In [80]:
new_data = {'Index': [i+1 for i in range(len(processed_df.index))],
           'Percent change (%)': sorted(processed_df.loc[:, "Percent change (%)"], reverse=True)}
change_df = pd.DataFrame(new_data)
change_df.loc[-1] = ['Index','Percent change (%)']  
change_df.index = change_df.index + 1  
change_df = change_df.sort_index()
change_df
change_df.values.tolist()

[['Index', 'Percent change (%)'],
 [1, 232],
 [2, 84],
 [3, 82],
 [4, 56],
 [5, 41],
 [6, 40],
 [7, 40],
 [8, 37],
 [9, 28],
 [10, 10],
 [11, 6],
 [12, 6],
 [13, -5],
 [14, -11],
 [15, -16],
 [16, -17],
 [17, -18],
 [18, -19],
 [19, -27],
 [20, -30],
 [21, -36],
 [22, -36],
 [23, -36],
 [24, -37],
 [25, -38],
 [26, -45],
 [27, -58],
 [28, -60],
 [29, -63],
 [30, -67]]

In [59]:
change_df.values.tolist()

[[9, 232],
 [29, 84],
 [1, 82],
 [25, 56],
 [4, 41],
 [27, 40],
 [26, 40],
 [5, 37],
 [22, 28],
 [15, 10],
 [19, 6],
 [2, 6],
 [16, -5],
 [18, -11],
 [11, -16],
 [28, -17],
 [14, -18],
 [20, -19],
 [12, -27],
 [7, -30],
 [8, -36],
 [10, -36],
 [17, -36],
 [21, -37],
 [3, -38],
 [24, -45],
 [30, -58],
 [13, -60],
 [23, -63],
 [6, -67]]

In [109]:
# processed_df = processed_df.sort_values(by='Percent change (%)', ascending=False)
# processed_df

new_data = {'Index': [i+1 for i in range(len(processed_df.index))],
           'Percent change (%)': sorted(processed_df.loc[:, "Percent change (%)"], reverse=True)}
sorted_df = pd.DataFrame(new_data)
sorted_df

    Index  Percent change (%)
0       1                 232
1       2                  84
2       3                  82
3       4                  56
4       5                  41
5       6                  40
6       7                  40
7       8                  37
8       9                  28
9      10                  10
10     11                   6
11     12                   6
12     13                  -5
13     14                 -11
14     15                 -16
15     16                 -17
16     17                 -18
17     18                 -19
18     19                 -27
19     20                 -30
20     21                 -36
21     22                 -36
22     23                 -36
23     24                 -37
24     25                 -38
25     26                 -45
26     27                 -58
27     28                 -60
28     29                 -63
29     30                 -67

In [122]:
from bokeh.charts import Bar, output_file, show
from bokeh.sampledata.autompg import autompg as df
from bokeh.models import Range1d

sorted_plot = Bar(sorted_df, values='Percent change (%)', color="Blue", title='Percent change (%)', legend=None, ylabel="")
# sorted_plot.set(y_range=Range1d(-100, 100))
sorted_plot.y_range = Range1d(-100, 100)    
sorted_plot.xaxis.visible = False
output_file("bar2.html")
show(sorted_plot)

INFO:bokeh.core.state:Session output file 'bar2.html' already exists, will be overwritten.

In [115]:
from bokeh.models import Range1d

fig = make_fig()
left, right, bottom, top = 3, 9, 4, 10
fig.set(x_range=Range1d(left, right), y_range=Range1d(bottom, top))
show(fig)

range(-100, 100)

In [116]:
for i in range(-3, 3):
    print(i)

-3
-2
-1
0
1
2

In [123]:
from bokeh.plotting import figure
from bokeh.resources import CDN
from bokeh.embed import components

script, div = components(sorted_plot)

In [125]:
div

'\n<div class="bk-root">\n    <div class="plotdiv" id="55d99ed7-8296-4867-9b02-af3149fe2cb2"></div>\n</div>'